<div class="body pb-5">
<div class="container justify-content-between mt-5 text-center">
  <img src="../../assets/Icon_Leaf.svg" class="mt-5">
  <p class="h3 mt-4">OUR PRODUCTS</p>
  <div class="container w-75 text-center">
    <p class="h5 mt-5">We strive to provide high-quality products at an affordable price. Our policy is tosimply deliver
      the best
      possible customer service, excellent quality, and the most advanced products on the market. Every product is
      handpicked by our healthcare professionals to supply you with all essential nutrients and achieve optimal balance
      between body and mind</p>
  </div>
  <div class="mt-5"><img src="../../assets/Schema.webp"></div>
</div>
</div>
