<div class="body pb-5">
  <div class="container justify-content-between text-center mt-5">
    <div class="pt-5"><img src="../../assets/Icon_Leaf.svg">
      <p class="h3 mt-3">WHY CBD?</p>
    </div>
    <p class="h5">Lorem ipsum dolor sit amet, consectetur adipiscing <br>elit. Dolor non neque massa rhoncus egestas
      velit.</p>
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm">
          <img src="../../assets/Bubble_leaf.svg">
          <p class="mt-3 h5" style="font-weight: 800;">Reason 1</p>
          <p class="mt-3 h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor non neque massa rhoncus egestas velit.</p>
        </div>
        <div class="col-sm">
          <img src="../../assets/Bubble_leaf.svg">
          <p class="mt-3 h5 " style="font-weight: 800;">Reason 2</p>
          <p class="mt-3 h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor non neque massa rhoncus egestas velit.</p>
        </div>
        <div class="col-sm">
          <img src="../../assets/Bubble_leaf.svg">
          <p class="mt-3 h5" style="font-weight: 800;">Reason 3</p>
          <p class="mt-3 h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor non neque massa rhoncus egestas velit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
