<div class="container text-center mt-5"><img src="../../assets/Icon_Leaf.svg">
<div class="text-center text-dark mt-3"><p class="h2">DISCOVER THE WORLD OF <span style="color:#627f47">HEALTHY PRODUCTS</span></p></div>
<div class="text-center text-dark mt-3"><p class="h5">Choose among our weekly top sellers<br> or browse our store</p></div>
<div class="row justify-content-between mt-5">
    <div class="col">
        <img src="../../assets/Product 1.webp">
        <div class="eclipse"><br>EUR<br>12,90</div>
        <div class="mt-3"><p class="h5" style="font-weight: bold;">HEMPS UP!</p></div>
        <div class="mt-2"><p class="h6">Fit hemp protein shake, 300g</p></div>
        <button class="btn w-50">VIEW DETAILS</button>
    </div>
    <div class="col">
        <img src="../../assets/Product 2.webp">
        <div class="eclipse"><br>EUR<br>10,90</div>
        <div class="mt-3"><p class="h5" style="font-weight: bold;">VALUE FATS CBD (15%) 5</p></div>
        <div class="mt-2"><p class="h6">10ml</p></div>
        <button class="btn w-50">VIEW DETAILS</button>
    </div>
    <div class="col">
        <img src="../../assets/Product 3.webp">
        <div class="eclipse"><br>EUR<br>8,90</div>
        <div class="mt-3"><p class="h5" style="font-weight: bold;">BIO HEMP OIL</p></div>
        <div class="mt-2"><p class="h6">250ml</p></div>
        <button class="btn w-50">VIEW DETAILS</button>
    </div>
    
</div>
<div class="mt-5"><a href="#">VIEW ALL PRODUCTS</a></div>
</div>