<div class="container mt-5 justify-content-center text-center">
  <img src="../../assets/Icon_Leaf.svg">
  <p class="h3 mt-3"><span style="color:#627f47">RESPONSIBILITY AND QUALITY</span> ARE OUR PRIORITY</p>
  <div class="container w-75 text-center">
    <p class="h5 mt-4">As well as having exceptional nutritional qualities, hemp, which we make our hemp oil from,
      significantly helps lower the emission of harm-ful gases. Our goal is to help both you and the planet.</p>
  </div>
</div>

<div class="container w-75 justify-content-center">

  <div class="row mt-5 ">
    <div class="col-sm"><img src="../../assets/Icon_Heart.svg">
      <p class="h5 mt-4 ">In producing 1 ton of hemp, we lower the amount of CO2 in the atmosphere by 1.37 tons.</p>
    </div>
    <div class="col-sm"><img src="../../assets/Icon_Heart.svg">
      <p class="h5 mt-4">The oil is gently pressed in small amounts whilst cold.</p>
    </div>

  </div>

  <div class="row mt-5 ">
    <div class="col-sm"><img src="../../assets/Icon_Heart.svg">
      <p class="h5 mt-4 ">Hemp oil is a ZERO WASTE product- high-quality hemp protein or flour is also produced from the
        pressing.</p>
    </div>
    <div class="col-sm"><img src="../../assets/Icon_Heart.svg">
      <p class="h5 mt-4">We look after its quality from sowing to harvesting. We only use fresh seeds from the most
        recent crop.</p>
    </div>
  </div>
</div>
