<div class="row mx-0 cover align-items-center">
    <div class="col-7"></div>
        <div class="col-sm">
            <div class="cover__title">
                HIGH QUALITY <br>
                PRODUCTS <br>
                YOU CAN TRUST
              </div>
              <div class="cover__subtitle pt-4">
                  Start your health yourney now!
              </div>
              <div class="cover__btns pt-5">
                  <button class="cover__btns--A me-3">Shop Now</button>
                  <button class="cover__btns--B">Read More</button>
              </div>
        </div>
  </div>