<div class="container justify-content-between mt-5 text-center">
  <img src="../../assets/Icon_Leaf.svg">
  <p class="h3 mt-3">CONTACT US</p>
  <div class="container d-flex mt-3">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p class="h5 text-left text-start mx-4 pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Dolor non neque massa rhoncus
            egestas velit.</p>
          <div class="container d-flex h-25">
            <div class="container text-left text-start">
                <div class="row">
                  <div class="col">
                    <img src="../../assets/mail_icon.svg">
                    <p class="h5 mt-2" style="color:#8ea84f">Email</p>
                    <p class="h5">hello@biljno.ba</p>
                  </div>
                  <div class="col">
                    <img src="../../assets/phone_icon.svg">
                    <p class="h5 mt-2" style="color:#8ea84f">PHONE</p>
                    <p class="h5">+387 61 111 111</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="contact-form col-sm text-left text-start">
          <div class="mb-3">
            <div class="row g-3 mt-3">
                <div class="col m-2">
                    <label for="exampleFormControlTextarea1" class="form-label ">Name*</label>
                  <input type="text" class="form-control" aria-label="First name">
                </div>
                <div class="col m-2">
                <label for="exampleFormControlTextarea1" class="form-label">Email*</label>
                  <input type="text" class="form-control" aria-label="Last name">
                </div>
              </div>
          </div>
          <div class="mb-3 m-2">
            <label for="exampleFormControlTextarea1" class="form-label">Message*</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn m-3 pb-2">SEND</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
